.layout {
    width:  100%;
}

.layout header {
    min-height:  75px;
    display: flex;
    justify-content: end;
    background-color: cadetblue;
    padding-top: 4px;
    padding-bottom: 4px;
    align-items: center;
  
    }    
.layout header ul {
    
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}
.layout header h1 {
    justify-items: center;
    color: antiquewhite;
}

.layout section {
    display: flex;
    flex-direction: row;
    background-color: rgb(232, 212, 187);
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 10px;

}

.layout aside {
    width: 15%;
    min-height: 50vh;
    text-align: center;
    justify-content: center;
    background-color: rgb(232, 212, 187);
    padding-top: 10px;
    
}
.layout main {
    border-top: 0.5 solid black;
    width: 70%;
    background-color: dimgrey;
    color: bisque;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    
}
.layout main img  {
    border-radius: 8px;
    max-width: 400px;
    max-height: 400px;
    padding-bottom: 1rem;
    border: 1 solid cadetblue;
}

.moreInfo {
    justify-content: center;
    display: flex;
    flex-direction: row;
}